.top-title{
    color: #ad0b0be5;  
    font-family: 'Press Start 2P', cursive, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}

header{
    text-align: center;
    max-height: 10px;
    cursor: pointer;
  }

.logo{
    text-align: center;
    max-width: 70%;
}

.graph-container {
    display: grid;
    justify-content: center;
  }

