.top-title{
    color: #fbff02e5;
    font-family: 'Press Start 2P', 'Times New Roman', serif;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: -20px;
}

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.logo {
  display: block;
  padding-left: 3%;
  width: 18%;
}

#searchbar {
  position: relative;
  height: 40px;
  width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

#searchbutton {
  position: relative;
  height: 35px;
  width: 70px;
  text-align: center;
}

#photobox {
  width: 250px;
  height: 250px;
}

#pokemonimage {
  width: 250px;
  height: 250px;
  justify-content: center;
}

#pokemonimage2 {
  width: 250px;
  height: 250px;
  justify-content: center;
}

#stringstats {
  width: 250px;
  height: 250px;
  font-size: 20px;
  padding-top: 40px;
  margin-left: 150px;

}

.container2 {
  display: grid;
  height: 300px;
  justify-items: center;
}

.container3 {
  display: grid;
  height: 300px;
  justify-items: center;
  margin-left: 150px;
}

#graphone{
  height: 300px;
  width: 300px;
  margin-right: 100px;
}

#graphtwo{
  height: 300px;
  width: 300px;
  margin-left: 100px;
}

.footer {
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
}